<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Corona questionnaire">
    <meta name="author" content="Evapsy">
    <title>Corona</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.jpg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.jpg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.jpg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.jpg">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	
	<section class="parallax_window_in" data-parallax="scroll" data-image-src=<%= image_path("grad-banner-bg.png")%> data-natural-width="1400" data-natural-height="800">
		<div id="sub_content_in">
			<h1>Evapsy Questionnaire</h1>
			<p>Répondre à ces questions vous permettra d’évaluer votre santé psychique actuelle.
				 Le remplir régulièrement vous permettra de suivre vous-même l’évolution de votre santé.
				 Des conseils adaptés à vos besoins vous seront alors adressés.</p>
			<%= link_to 'Démarrer le questionnaire', new_survey_path, class: "btn_1 rounded" %>
		</div>
	</section>
	<!-- /section -->
	<main id="general_page">
	
		<div class="container_styled_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-6">
						<h2 class="nomargin_top"><br>Un questionnaire Simple</h2>
						<p>
							De nombreuses études effectuées à la suite de diverses épidémies, montrent que les mises en quarantaine peuvent avoir des conséquences délétères sur les populations concernées.
							On relève notamment des conséquences psychologiques et psychiatriques, parfois sévères, pouvant survenir dans les quatre à six mois qui suivent les phases de confinement. C’est pourquoi nous proposons ici une solution de suivi autonome via questionnaire.<br><br>
							Ce questionnaire est divisé en trois étapes, et concerne les niveaux d’anxiété/dépression, les problématiques d’addiction, ainsi que la prévention des violences conjugales.<br> 
							Vous avez le choix du nombre et de la fréquence de remplissage des questionnaires. L’objectif est de les compléter régulièrement (par exemple une fois par mois pendant 6 mois) pour avoir un suivi le plus fiable possible.
							Remplir ces questionnaires régulièrement vous permettra de voir l’évolution de vos symptômes dans le temps, et d’avoir ainsi un repère sur l’évolution de votre santé psychique.<br><br>   
							La passation dure entre 5 et 15 minutes.
							Les résultats sont une aide au suivi de votre santé mentale, ils demeurent toutefois subjectifs et ne constituent en aucun cas un diagnostique. <strong>Cette solution ne se substitue pas à un suivi par des professionnels de santé</strong> (médecin, psychiatre, psychologue). 
						</p>	
					</div>
					<div class="col-lg-5 ml-lg-4 add_top_30">
						<%= image_tag 'corona-img.png', class: "img-fluid" %>
					</div>
				</div>
				<!-- End row -->
			</div>
		</div>
		
		<!-- End container -->
		
		<section class="bg-white add_bottom_60">
			<div class="container margin_60 ">
				<div class="main_title">
					<h2><em></em>Covid19 : les gestes préventifs</h2>
				</div>
			</div>
			<div class="container">
				<div class="row text-center">
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><%= image_tag 'prevention-2.png', class: "img-fluid" %></div>
						<h3>Lavez vos mains</h3>
						<p class="mb-0">Lavez-vous très régulièrement les mains.</p>
					</div>
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><%= image_tag 'prevention-3.png', class: "img-fluid" %></div>
						<h3>Portez un masque</h3>
						<p class="mb-0">Portez un masque si vous êtes malade.</p>
					</div>
					<div class="col-lg-4">
						<div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><%= image_tag 'prevention-4.png', class: "img-fluid" %></div>
						<h3>Evitez les contacts</h3>
						<p class="mb-0">Saluez sans serrer la main, n'embrassez personne.</p>
					</div>
				</div>
			</div>
		</section>

	</main>
	
	<footer class="clearfix">
		<div class="container">
			<p>© 2020 Evapsy</p>
			<ul>
				<li><a href="#0" class="animated_link">Condition Générale</a></li>
				<li><a href="#0" class="animated_link">Contacts</a></li>
			</ul>
		</div>
	</footer>
	<!-- end footer-->	

</body>
</html>


        