<div class="container py-md-3">
	<div class="row">
	<aside class="col-lg-4">
		<div class="box_style_2">
			<h4 class="heading mb-sm-5 mb-4">Bienvenue <%=@user.username.capitalize%></h4>
			<hr class="styled">
			<h5>Pour m'évaluer à nouveau </h5>
			<p><%= link_to "Accéder au questionnaire", new_survey_path,  class: "btn_1  my-sm-3 mb-3" %></p>
			<hr class="styled">
			<h5>Pour choisir la fréquence de mon suivi par e-mail </h5>
			<p><a href="#openModal-about" class="btn_1  my-sm-3 mb-3">Changer la fréquence</a></p>
			<hr class="styled">
			<h5 class="">Pour modifier mon compte et mes données</h5>
			<p><%= link_to 'Paramètres du compte', edit_user_registration_path, class: 'btn_1  my-sm-3 mb-3' %></p>
			<hr class="styled">
			<p><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "btn_1  my-sm-3 mb-3" %></p>
		</div>
	</aside>
	<!--End aside -->
	<div class="col-lg-8">

		<h4>L'évolution de mon score "Dépression" :</h4>
		<%= column_chart @user.surveys.group_by_day(:created_at, format: "%d/%m/%Y").maximum(:depression_score), height: "100px" %>
		<br>
		<h4>L'évolution de mon score "Anxiété" :</h4>
		<%= column_chart @user.surveys.group_by_day(:created_at, format: "%d/%m/%Y").maximum(:anxiety_score), height: "100px" %>
		<br>
		<h4>L'évolution de mon score "Addiction" :</h4>
		<%= column_chart @user.surveys.group_by_day(:created_at, format: "%d/%m/%Y").maximum(:addiction_score), height: "100px" %>
		<br>
		<h4>L'évolution de mon score "Violences conjugales" :</h4>
		<%= column_chart @user.surveys.group_by_day(:created_at, format: "%d/%m/%Y").maximum(:abuse_score), height: "100px" %>
		<br>
		<h4>Mes précédents questionnaires :</h4>

		<table class="table">
			<tbody>
				<%@surveys.each do |survey|%>
				<tr>
					<th scope="row">1</th>
					<td>Questionnaire rempli le <%=survey.created_at.strftime('%d/%m/%Y')%></td>
					<td>Score : <%=survey.depression_score%></td>
					<td>Score : <%=survey.anxiety_score%></td>
					<td>Score : <%=survey.addiction_score%></td>
					<td>Score : <%=survey.abuse_score%></td>
					<td><%= link_to 'Voir mon résultat', survey_path(survey), class: 'btn_1 rounded mb-3' %></td>
				</tr>
				<%end%>
			</tbody>
		</table>
		<!--modals-->
		<div id="openModal-about" class="modalDialog">
			<div>
				<a href="#close" title="Close" class="close">X</a>
				<%= form_with url: "/set_frequency", local: true do |form| %>
					<div class="form-group">
					<div class="styled-select clearfix">
						<%= form.select :notification_frequency, ["Jamais", "Semaine", "2 Semaines", "Mensuel"], {selected: @frequency}, {class: "form-control"}%>
					</div>
					</div>
					
					<%= form.submit "Sauver", class: "btn_1 rounded my-sm-3 mb-3" %>
					
				<% end %>
			</div>
		</div>
		</div>
	</div>
</div>


