<div class="step">
  <h3 class="main_question"><strong>17/27</strong>Consommez-vous ce produit ?</h3>
  <h4>Cannabis</h4>

  <div class="form-group">
    <label class="container_radio version_2">Jamais (ou faible fréquence)
      <%= radio_button_tag 'survey[q17]', 0, session[:survey_params]['q17'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une fois par mois
      <%= radio_button_tag 'survey[q17]', 1, session[:survey_params]['q17'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plusieurs fois par mois
      <%= radio_button_tag 'survey[q17]', 2, session[:survey_params]['q17'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une fois par semaine
      <%= radio_button_tag 'survey[q17]', 3, session[:survey_params]['q17'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plusieurs fois par semaine
      <%= radio_button_tag 'survey[q17]', 4, session[:survey_params]['q17'] == '4' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Tous les jours
      <%= radio_button_tag 'survey[q17]', 5, session[:survey_params]['q17'] == '5' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>