<div class="step">
  <h3 class="main_question"><strong>18/27</strong>Consommez-vous ce produit ?</h3>
  <h4>Cocaïne</h4>

  <div class="form-group">
    <label class="container_radio version_2">Jamais (ou faible fréquence)
      <%= radio_button_tag 'survey[q18]', 0, session[:survey_params]['q18'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une fois par mois
      <%= radio_button_tag 'survey[q18]', 1, session[:survey_params]['q18'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plusieurs fois par mois
      <%= radio_button_tag 'survey[q18]', 2, session[:survey_params]['q18'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une fois par semaine
      <%= radio_button_tag 'survey[q18]', 3, session[:survey_params]['q18'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plusieurs fois par semaine
      <%= radio_button_tag 'survey[q18]', 4, session[:survey_params]['q18'] == '4' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Tous les jours
      <%= radio_button_tag 'survey[q18]', 5, session[:survey_params]['q18'] == '' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>