<div class="submit step">
  <h3 class="main_question"><strong>5/5</strong>Sommaire</h3>
  <div class="summary">


    <%= form_with model: @survey, url: survey_path, local: true, class: "form-group", :validate => true do |f| %>

      <div class="container">
        <div class="outer-circle"></div>
        <div class="color-circle"></div>
        <div class="color-circle-shadow"></div>
        <div class="inner-circle"></div>
    </div>
      <ul>
        <li><strong>1</strong>
          <h5>Je ris facilement</h5>
          <%= hidden_field_tag 'survey[q1]', @survey.q1  %>
          <p>
            <%= "Très souvent" if @survey.q1 == 0 %>
            <%= "Assez souvent" if @survey.q1 == 1 %>
            <%= "Rarement" if @survey.q1 == 2 %>
            <%= "Très rarement" if @survey.q1 == 3 %>
          </p>
        </li>
        <li><strong>2</strong>
          <h5>Je me fais du souci</h5>
          <%= hidden_field_tag 'survey[q2]', @survey.q2  %>
          <p>
            <%= "Très souvent" if @survey.q2 == 0 %>
            <%= "Assez souvent" if @survey.q2 == 1 %>
            <%= "Rarement" if @survey.q2 == 2 %>
            <%= "Très rarement" if @survey.q2 == 3 %>
          </p>
        </li>
        <li><strong>3</strong>
          <h5>Je suis de bonne humeur</h5>
          <%= hidden_field_tag 'survey[q3]', @survey.q3  %>
          <p>
            <%= "Très souvent" if @survey.q3 == 0 %>
            <%= "Assez souvent" if @survey.q3 == 1 %>
            <%= "Rarement" if @survey.q3 == 2 %>
            <%= "Très rarement" if @survey.q3 == 3 %>
          </p>
          <p id="additional_message"></p>
        </li>
      </ul>
      <div id="bottom-wizard">
        <%= f.submit "Confirmer", name: "process", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>


