<h1>Surveys#edit</h1>

<%= form_with model: @survey, url: survey_path, local: true, class: "form-group", :validate => true do |f| %>

<h2>Question 1</h2>
<p> 
	<%= f.label :q1, "Je ris facilement" %>
	<%= f.select :q1, options_for_select([["Très souvent", 0], ["Assez souvent", 1], ["Rarement", 2], ["Très rarement", 3]], @survey.q1), class:"form-control" %>
</p>


<h2>Question 2</h2>
<p>
	<%= f.label :q2, "Je me fais du souci" %>
	<%= f.select :q2, options_for_select([["Très souvent", 0], ["Assez souvent", 1], ["Rarement", 2], ["Très rarement", 3]], @survey.q2), class:"form-control" %>
</p>


<h2>Question 3</h2>
<p> 
	<%= f.label :q3, "Je suis de bonne humeur" %>
	<%= f.select :q3, options_for_select([["Très souvent", 0], ["Assez souvent", 1], ["Rarement", 2], ["Très rarement", 3]], @survey.q3), class:"form-control" %>
</p>


<p><%= f.submit "Confirmer" %></p>

<% end %>



