<div class="container py-md-3">
	<h2 class="heading  mb-sm-5 mb-4">Résultats du <%=@survey.created_at.strftime('%d/%m/%Y')%></h2>
	<div class="row">
		<div class="col-lg-12">

			<% if @survey.depression_score > 10 %>
				<h4 class="">Votre score "Dépression" est de <%=@survey.depression_score%> : symptomatologie certaine.</h4>
			<% elsif @survey.depression_score < 8 %>
				<h4 class="">Votre score "Dépression" est de <%=@survey.depression_score%> : absence de symptomatologie.</h4>
			<% else @survey.depression_score > 10 %>
				<h4 class="">Votre score "Dépression" est de <%=@survey.depression_score%> : symptomatologie douteuse.</h4>
			<% end %>
			<br>

			<% if @survey.anxiety_score > 10 %>
				<h4 class="">Votre score "Anxiété" est de <%=@survey.anxiety_score%> : symptomatologie certaine.</h4>
			<% elsif @survey.anxiety_score < 8 %>
				<h4 class="">Votre score "Anxiété" est de <%=@survey.anxiety_score%> : absence de symptomatologie.</h4>
			<% else @survey.anxiety_score > 10 %>
				<h4 class="">Votre score "Anxiété" est de <%=@survey.anxiety_score%> : symptomatologie douteuse.</h4>
			<% end %>
			<br>
			
			<h4 class="">Votre score "Addiction" est de <%=@survey.addiction_score%>.</h4>
			<br>
			<h4 class="">Votre score "Risques de violences conjugales" est de <%=@survey.abuse_score%>.</h4>
			<br>


			<% if @survey.abuse_score > 2 %>
				<p>
					Toutes les violences conjugales sont interdites par la loi, qu'elles touchent un homme ou une femme, qu'elles soient physiques, psychologiques ou sexuelles. Il s'agit des violences commises au sein des couples mariés, pacsés ou en union libre. La victime de violences conjugales qui signale les faits peut bénéficier de nombreuses mesures de protection de la part des institutions publiques et des associations. Ces mesures peuvent même s'étendre aux enfants.
					Vous trouverez <a href="https://stop-violences-femmes.gouv.fr/Les-numeros-d-urgence,396.html">ici</a> les numéros d’urgences <a href="https://stop-violences-femmes.gouv.fr/Les-numeros-d-ecoute-d,399.html">ici</a>les numéros  d’écoute, d’information et d’orientation.
				</p>
			<% end %>
			<br>

			<% if @survey.depression_score > 8 || @survey.anxiety_score > 8 %>
				<p>
					<strong>En cas d'urgence contactez le 15.</strong><br><br>
					Voici les centres d'écoute que vous pourez retrouver sur :<br>
					http://www.psycom.org/Lignes-d-ecoute<br>
					https://www.metacoaching.pro/fr<br>
					https://www.qare.fr/<br>
					Croix-rouge : 09 70 28 30 00* ouvert 7j/7 de 8h à 20h.<br><br>
 
					Ainsi que des solutions de suivi psychologique en ligne.<br> 
					Les centres médico-psychologiques (CMP) sont des établissements regroupant des spécialistes proposant des soins en santé mentale. Ces centres ont pour fonctions la prévention, le diagnostic, les soins ambulatoires et les interventions à domicile en fonction des besoins en santé mentale. La prise en charge est remboursée par la sécurité sociale.<br>
					Il est possible de de prendre contact avec le CMP de votre secteur, pour demander un entretien en vue d’un éventuel suivi. Les entretiens sont souvent longs à obtenir en raison d’une demande forte. 
				</p>
			<% end %>
			<br>
			<br>
			<h4>Les C.M.P. près de chez vous :</h4>

			<br>
			<%= form_tag survey_path(@survey), :method => :get do %>
			<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Entrez votre localisation", :name => nil %>
			</p>
			<% end %>
			<br>

			<%if params[:search] && params[:search] != '' && @results != [] %>
			<p>Nous avons trouvé <%=@cmps.length%> CMP autour de chez vous</p>
			<%elsif @results == []%>
			<p>Nous n'avons pas trouvé la localisation demandée, merci de renseigner une adresse plus précise.</p>
			<%else%>
			<%end%>


			<div id="mapid"></div>

			<br>
			<br>


			<% if user_signed_in?%>
			<h4>Accédez à votre espace personnel pour retrouvez vos résultats :</h4>
			<br>

			<div class="col-xs">

				<p><%= link_to "Mon espace personnel", user_path(current_user),  class: "btn_1 rounded my-sm-3 mb-3" %></p>
			</div>
		</div>


		<%else%>
		<h4>Inscrivez-vous pour bénéficier d'un suivi par email :</h4>
		<br>
		<%= render "sign_up" %>
		<%end%>

	</div>
</div>
</div>




<!-- Javascript for OpenStreetMap -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

<script type="text/javascript">
	var coor = <%= @coor %>;
	var zoom = <%= @zoom %>;

	var mymap = L.map('mapid').setView(coor, zoom);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		minZoom: 1,
		maxZoom: 20,
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1,
		accessToken: 'pk.eyJ1IjoiZW1pbGllZW1zIiwiYSI6ImNrOGphOWdybTA2cnEzcW10OWxsdGQ2eTEifQ.5z_HnBHR8G75v2ezKwg2Iw'
	}).addTo(mymap);

	// Initialization of latitude and longitude for each cmp
	var cmps = {<%@cmps.each do |cmp|%>
		"<%=cmp.name%>": { "lat": <%=cmp.latitude%>, "lon": <%=cmp.longitude%>, "name": "<%=cmp.name%>", "phonenumber": "<%=cmp.phonenumber%>", "adress": "<%=cmp.adress%>"  },
		<%end%>
	};

	// Loop in the cmp list for the marker
	for (cmp in cmps) {
		  // create popup contents
    var customPopup = cmps[cmp].name + '<br/>' + cmps[cmp].adress + '<br/>' + cmps[cmp].phonenumber;
    
		var marker = L.marker([cmps[cmp].lat, cmps[cmp].lon]).addTo(mymap);
	// Popup with name of each cmp 
	marker.bindPopup(customPopup);
}               	

</script>

