<body class="user-log">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase">Mot de passe oublié?</h5>


              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-label-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Adresse Email" %>
                </div>

                <div class="actions">
                  <%= f.submit "Réinitialisation du mot de passe", class: "btn_1 rounded" %>
                </div>
                </br>
              <% end %>

              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>